body {
  font-family: "Indie Flower", cursive;
  margin: 0;
  background-color: white;
  color: black;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.dark-mode {
  background-color: #333;
  color: white;
}

nav {
  position: relative;
  padding: 15px 20px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 70px;
  text-decoration: underline;
}

.input-section {
  text-align: center;
}

.description {
  color: gray;
  font-size: 30px;
}

.appearance-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}
