body {
  font-family: "Indie Flower", cursive;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.dark-mode {
  background-color: #333;
  color: white;
}

body.dark-mode input {
  background-color: #222;
  color: white;
  border: 2px solid #555;
}

body.dark-mode input::placeholder {
  color: #aaa;
}

nav {
  position: relative;
  padding: 15px 20px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

h1 {
  text-align: center;
  font-size: 70px;
  text-decoration: underline;
  margin: 0;
}

.input-section {
  text-align: center;
}

.description {
  color: gray;
  font-size: 30px;
}

.appearance-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

input {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0057b3;
}
